Xft.dpi: 		100
Xft.antialias: 	true
Xft.hinting: 	true
Xft.rgba: 		rgb
Xft.autohint: 	true
Xft.hintstyle: 	hintfull
Xft.lcdfilter: 	lcddefault

#define base_foreground #C5C8C6
#define base_background #1D1F21
#define base_color0 #282A2E
#define base_color1 #A54242
#define base_color2 #8C9440
#define base_color3 #DE935F
#define base_color4 #5F819D
#define base_color5 #85678F
#define base_color6 #5E8D87
#define base_color7 #707880
#define base_color8 #373B41
#define base_color9 #CC6666
#define base_color10 #B5BD68
#define base_color11 #F0C674
#define base_color12 #81A2BE
#define base_color13 #B294BB
#define base_color14 #8ABEB7
#define base_color15 #C5C8C6

*foreground: base_foreground
*background: base_background
!black
*color0:  base_color0
*color8:  base_color8
!red
*color1:  base_color1
*color9:  base_color9
!green
*color2:  base_color2
*color10: base_color10
!yellow
*color3:  base_color3
*color11: base_color11
!blue
*color4:  base_color4
*color12: base_color12
!magenta
*color5:  base_color5
*color13: base_color13
!cyan
*color6:  base_color6
*color14: base_color14
!white
*color7:  base_color7
*color15: base_color15

! Rofi Settings
rofi.width:				50
rofi.padding:			5
rofi.fullscreen: 		false
rofi.fixed-num-lines: 	true
rofi.bw:				1
rofi.location:			0
rofi.terminal:			termite
rofi.lines:				10
rofi.eh:				1
rofi.hide-scrollbar: 	true
rofi.font:      		xos4 Terminess Powerline 8

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: base_background, base_color2,     base_color2
rofi.color-normal: base_background, base_foreground, base_background, base_color2, base_background
rofi.color-active: base_background, base_color2,     base_background, base_color2, base_color2
rofi.color-urgent: base_background, base_foreground, base_background, base_color2, base_foreground